# .gitignore

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
db.sqlite3
*.pyc
/staticfiles/
/media/

# Environments
env/
venv/
ENV/
*.env

# VSCode / IDEs
.vscode/
.idea/

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py
